

*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
   
    font-family:  'Lobster',cursive; 
    
}

/*---------------------- 
         top banner 
------------------------*/

.top-banner{
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    height: 400px;
    width: 100%;
    border-radius: 20px;
    border: 1px dashed rgb(121, 94, 77);
}
.top-banner .text{
    margin: auto 40px;
    height: 400px;

    display: grid;
    grid-template-rows: .4fr .3fr .3fr;
    grid-row-gap: 1%;
    
    align-items: center;
    
    /* border: 1px dashed white; */
    
}
.top-banner .text h1{
    font-size: 40px;
    /* border: 1px solid rgb(156, 156, 40); */
    
}
.top-banner .text p{
    font-size: 13px;
    color: rgb(155, 155, 155);
    /* border: 1px solid yellow; */
}
.top-banner .text button{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: crimson;

    border: none;
    border-radius: 20px;
    padding: 3% 5%;
    
    /* border: 1px solid yellow; */

    
}
.top-banner img{
    /* border: 1px dashed white; */
    margin: 20px;
    margin-bottom: 0%;
    
    height: 380px;
    min-height: 380px;
    width: 85%;   
}
/* ----------------------
       middle part     
------------------------*/
.middle{
    /* border: 1px solid red; */
    margin-top: 100px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: .20fr .80fr;
    grid-column-gap: 8% ;
    width: 100%;
}
.side-bar{
    background-color:black;
    padding: 20px;
    height: 200px;
    width: 100%;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border-radius: 25px;
    
}
.side-bar button{
    
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    height: 20%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5% ;
    padding: 10px 40px;
    border-radius: 20px;

}
/* .side-bar button .selected-btn{ 
    border: 1px solid green;
    background-color: crimson;
    color: rgb(255, 255, 255);
    height: 20%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5% ;
    padding: 10px 40px;
    border-radius: 20px;

} */
.blogs{
    margin: 0px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap: 5px; */
    /* border: 1px solid red; */
}

.blog{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 15px;
    /* border: 1px solid navy; */
}

.blog img{
    height: 120px;
    width: 220px;
}

.blog button{
    border: none;
    height: 20%;
    width: 40%;
    padding: 10px 15px;

    background-color: crimson;
    color: white;
    font-weight: 700;

    margin: 5% 0;
    
}
.blog p{
    font-size: 15px;
}
.blog .icon {
    color: gray;
    display: flex;
    justify-content: space-between;
    margin: 5% 30% 5% 0;
   
}

.special-btn{
    display: none;
}

/* -------------------------
    schedule middle 
----------------------------*/
.schedule{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    
}
.match{

    border:1px solid rgba(211, 211, 211, 0.575);
    border-radius: 5px;
    margin: 0px 0px 20px 20px;
    padding: 25px 15px 10px 15px;
    display: flex;
    flex-direction: column;
}
.match .flags{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.match .flags img{
    height: 40px;
    width: 60px;
}

.match-desc{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 20%;

    text-align: center;
    margin: 20px 0;
}
.match-desc p{
    color: gray;
    font-size: 12px;
}
/* -----------------------
          footer 
-------------------------*/
.footer{
    margin-top: 100px;
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
}
.goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.goal hr{
    height: 1px;
    width: 50%;
    margin-top: 50px;
    /* justify-content: center; */
    background-color: rgb(31, 27, 27);
    border: none;
}
.row-1{
    
    height: 50px;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;
}
.row-2{
    display: flex;
    justify-content: center;
}
.row-2 a{
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(93, 110, 206);
}
.row-3{
    
    display: flex;
    height: 50px;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

/* ----------------------------
    media queries
------------------------------*/

@media only screen and (max-width: 688px){

    /* top banner */
    .top-banner{
        height: 620px;
        display: grid;
        grid-template-columns: none;
        /* border: 1px solid red; */
        grid-template-rows: 40% 60%;
    }

    .top-banner .text{
        
        margin: 40px 80px 10px 80px;
        height: 40%;
    
        display: grid;
        grid-template-rows: .4fr .3fr .3fr;
        grid-row-gap: 10%;
        
        align-items: center;
        
        /* border: 1px dashed white; */
        
    }
    .top-banner .text h1{
        font-size: 5vw;
        /* border: 1px solid rgb(156, 156, 40); */
        
    }
    .top-banner .text p{
        font-size: 2vw;
    }
    .top-banner img{
        /* border: 1px dashed rgb(129, 14, 14); */
        margin: 20px;
        margin-bottom: 0%;
        
        height: 352px;
        min-height: 325px;
        width: 85%;   
    }

    /* middle */
    .middle{
        /* border: 1px solid red; */
        display: block;
        /* flex-direction: column; */
        margin-top: 10px;
        padding: 0;
        width: 100%;
    }

    .side-bar{
        /* border: 1px solid red; */
        margin: 20px 0px 10px 0;
        height: 200px;
        width: 100%;
        padding: 30px 0;
        display:flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: space-around;
        border-radius: 0; 
        
    }
    .side-bar button{
        /* border: none; */
        border: 1px solid lightgray ;
        height: 50px;
        width: 50%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 0;
        border-radius: 20px;
    
    }

}

@media only screen and (min-width: 688px) and (max-width: 992px){
    /* top banner */

    .top-banner .text h1{
        font-size: 4vw;
        /* border: 1px solid rgb(156, 156, 40); */
        
    }
    .top-banner .text p{
        font-size: 1.5vw;
        color: rgb(155, 155, 155);
        /* border: 1px solid yellow; */
    }
    /* middle part */

    .middle{
        /* border: 1px solid red; */
        display: block;
        /* flex-direction: column; */
        margin-top: 100px;
        padding: 0;
        width: 100%;
    }
    .side-bar{
        margin: 20px 0px 10px 0;
        height: 80px;
        width: 100%;
        padding: 30px 0;
        display:flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: space-around;
        border-radius: 0; 
        
    }
    .side-bar button{
        /* border: none; */
        border: 1px solid lightgray ;
        height: 40px;
        width: 30%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 0;
        border-radius: 20px;
    
    }
    .blogs{
        margin: 0px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2,1fr);
        
        /* border: 1px solid red; */
    }
    .blog{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 30px 0 0 0;
        /* border: 1px solid navy; */
    }
    .blog img{
        height: 200px;
        width: 100%;
    }
    .b1, .b3 , .b5{
        padding-right: 10px;
    }
    .b2, .b4 , .b5{
        padding-left: 20px;
    }
    .b7, .b8, .b9{
        display: none;
    }
    .special-btn{
        display:flex;

        border: none;
        border-radius: 30px;
        background-color: crimson;
        color: white;

        font-size: 20px;
        font-weight: 700;

        height: 60px;
        width: 300px;
        margin: 40px auto 30px auto;
        padding: 20px;

        justify-content: center;
    }

    /* footer */
    footer .row-3{
        flex-wrap: wrap;
    }
}   
